<div class='signup_container'>

  <h1>Create an Account:</h1>

  <%if @errors%>
  <%= erb :error, locals:{errors: @errors} %>
  <% end %>

  <div class='create_user'>
    <form name='create_user' action="/create_user" method='post'>

      <input id="create_user" type='text' name='user[username]' placeholder="Username" autofocus="" value="<%= @user.username if @user %>"><br>

      <input id="create_user" type='text' name='user[email]' placeholder="Email" value='<%= @user.email if @user %>'><br>

      <input id="create_user" type='date' placeholder="Birthday" name='user[birthday]' value='<%= @user.birthday if @user %>'><br>

      <input id="create_user" type='password' placeholder="Password" name='user[password]'><br>

      <input class="button" type='submit' value='Create User!' id='create_user'><br>
    </form>
  </div>
</div>
