<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

</head>
<header>
  <div class="nav">
    <%if @errors%>

    <div class="errors">
      <%= erb :error, locals:{errors: @errors} %>
    </div>

    <% end %>

    <% if current_user %>

    <div class="current_user">
      <a href="/logout">Logout</a>
      <a href="/user_profile/<%= current_user.id %>">Welcome <%= current_user.username %>!</a>
    </div>

    <% else %>
    <a href="/create_user">Join</a>
    <div class="login">
      <form name="login" action="/login" method="post">
        <input type="text" name="user[username]" placeholder="Username">
        <input type="password" name="user[password]" placeholder="Password">
        <input class="button" type="submit" value="Login" id="log_in">
      </form>
    </div>

    <% end %>
  </header>

  <body>
    <div class="picture">
        <%= yield %>
    </div>
  </body>
</html>
