<div class="signup_container">
  <div class="user_info">
    <h1>User Information</h1>
    <h2>Hey <%= current_user.username %>! Your information is:</h2>
  </div>
  <p>
   Username: <%= current_user.username %> <br>
   Email: <%= current_user.email %>
   Birthday: <%= current_user.birthday %>
 </p>
 <a href="/authors">Authors</a>
</div>
